/* index.html template specific css */
.hero {
  margin-bottom: 50px;
}
.hero .container {
  padding: 50px 0;
}

.hero .hero-content {
  width: 70%;
}

.event-view-content {
  padding: 50px 0;
}
.event-view-content-container {
  display: flex;
  gap: 2rem;
}

.event-view-list {
  position: relative;
}

.event-date {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.event-item {
  /* position: relative; */
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: var(--contrast-color);
  z-index: 1;
  transition: transform 0.2s, z-index 0s; /* Apply z-index on hover instantly */
}

.event-item:hover {
  background-color: #666;
  transform: scale(1.01);
  z-index: 20; /* Bring the entire event-item above others on hover */
}

.event-item span {
  flex: 1; /* Allow spans to take equal space */
}

.event-name {
  flex: 1; /* Allow first span to take available space */
  text-align: left; /* Align the first span (event name) to the left */
  overflow: hidden; /* Hides overflow content */
  white-space: nowrap; /* Prevents text from wrapping */
  text-overflow: ellipsis; /* Displays ellipsis for overflowed text */
}

.event-calendar,
.event-ongoing-duration {
  margin-left: auto; /* Pushes the last span to the right */
  text-align: center; /* Align text to the right */
}

.event-start,
.event-end {
  /* Style for the last spans */
  margin-left: auto; /* Pushes the last span to the right */
  text-align: right; /* Align text to the right */
}

.event-detail-card {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #666;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  opacity: 0;
  z-index: 10; /* Ensure it's above sibling event items */
}

.event-item:hover .event-detail-card {
  opacity: 1;
}

.event-detail-left {
  flex: 1; /* Allows the left section to take up remaining space */
}

.event-detail-right {
  text-align: left; /* Aligns text to the right side */
  flex-basis: 20%; /* Restricts width to allow space for description */
}

.event-detail-card-divider {
  width: 1px;
  background-color: #333;
  margin: 0 10px;
}

.sticky-container {
  /* display: flex; */
  flex-direction: column;
  gap: 2rem;
  position: sticky;
  top: 20px; /* Distance from the top of the viewport */
  max-width: 300px; /* Keep the sticky container from stretching */
  align-self: flex-start;
}

.event-view-filter-btns {
  margin-top: 10px;
}
