/* index.html template specific css */
.hero {
  margin-bottom: 50px;
}
.hero .container {
  padding: 50px 0;
}

.hero .hero-content {
  width: 70%;
}

.event-view-content {
  padding: 50px 0;
}

.event-content-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start; /* Align items to the top */
}

.event-view-list {
  flex: 1;
}

.event-date {
  display: block;
  width: 100%;
  margin: 10px;
}

.event-item {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Adjusted for uniform spacing */
  align-items: center; /* Center align items vertically */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: var(--contrast-color);
}

.event-item span {
  flex: 1; /* Allow spans to take equal space */
}

.event-name {
  flex: 1; /* Allow first span to take available space */
  text-align: left; /* Align the first span (event name) to the left */
  overflow: hidden; /* Hides overflow content */
  white-space: nowrap; /* Prevents text from wrapping */
  text-overflow: ellipsis; /* Displays ellipsis for overflowed text */
}

.event-calendar,
.event-ongoing-duration {
  margin-left: auto; /* Pushes the last span to the right */
  text-align: center; /* Align text to the right */
}

.event-start,
.event-end {
  /* Style for the last spans */
  margin-left: auto; /* Pushes the last span to the right */
  text-align: right; /* Align text to the right */
}

.sticky-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: sticky;
  top: 20px; /* Distance from the top of the viewport */
  max-width: 300px; /* Keep the sticky container from stretching */
  align-self: flex-start;
}

.event-view-filter-btns {
  margin-top: 10px;
}
