
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
/* Style for the table header */
th {
    background-color: #f2f2f2; /* Light grey background */
    position: sticky; /* Make it sticky */
    top: 0; /* Stick to the top of the page */
    z-index: 10; /* Ensure it's above other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
}
th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
h1 {
    text-align: center;
}
form {
    margin-bottom: 20px;
}
.container {
    margin: 20px;
    padding-bottom: 10px;
}
.btn-link {
    text-decoration: none;
    color: black;
}