.btns {
    margin-top: 20px;
    display: flex;
    width: 22%;
    justify-content: space-between;
}

.wrapper {
    max-height: 90vh;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 200px;
    overflow-y: scroll;
}

.wrapper .container {
    display: grid;
    grid-template-columns: 11fr 1fr; /* Two columns: util (1 part), events (3 parts) */
    padding: 0 10px;
    gap: 1rem;
}

.wrapper::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.util {
    position: sticky;
    top: 0;
    align-self: start; /* Stick to the top of its column */
    display: flex;
    flex-direction: column; /* Items in a column */
    gap: 0.5rem; /* Spacing between items */
    height: fit-content; /* Adjust height to content */
}

.util .btn {
    font-size: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .container {
    padding: 0;
}

.completed {
    opacity: 30%; /* Strikethrough to indicate completion */
}

.event {
    position: relative; /* Position relative to adjust the arrow outside the container */
}

.event-preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto; /* Adds space for the arrow */
    align-items: center;
}

.event-name {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.event-start {
    text-align: center;
}

.event-countdown {
    text-align: right;
}

.expand-arrow {
    position: absolute;
    left: -25px; /* Place the arrow outside the container */
    top: 23px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    z-index: 100;
    color: var(--dark-color);
    transition: 0.3s ease;
}

.expand-arrow:hover {
    color: var(--contrast-color);
}

.expand-arrow[aria-expanded='true'] {
    transform: rotate(90deg); /* Rotate the arrow when expanded */
}

.event-details {
    max-height: 0; /* Set maximum height to 0 when collapsed */
    overflow: hidden; /* Hide overflowing content */
    transition: max-height 0.3s ease-out, padding 0.3s ease-out; /* Smooth animation for expansion and padding */
    padding: 0 10px; /* Collapse padding */
    background-color: #f9f9f9; /* Optional: Add a background for visibility */
    border-left: 3px solid #ccc; /* Optional: Add a border for emphasis */
}

.event-details.expanded {
    max-height: 200px; /* Set a maximum height large enough to fit the content when expanded */
    padding: 10px; /* Restore padding when expanded */
}
