<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ event.name }}</title>
    </head>
    <body>
        <h1>{{ event.name }}</h1>
        <p><strong>Start Date:</strong> {{ event.start_date }}</p>
        <p><strong>End Date:</strong> {{ event.end_date }}</p>
        <p><strong>Description:</strong> {{ event.description }}</p>
        <p>
            <a
                href="{{ url_for('calendar_feed_bp.manage_calendar_feed', calendar_feed_id=event.calendar_feed_id) }}">
                Calendar Feed
            </a>
        </p>
        <a
            href="{{ url_for('event_bp.index') }}">
            All events
        </a>
        <a
            href="{{ url_for('event_bp.index') }}">
            All Calendar Feeds
        </a>
    </body>
</html>
