{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

<section class="hero">
    <div class="container">
        <h1 class="hero-title">Upcoming events</h1>
        <p>{{ upcoming_event_information }}</p>
        <button class="btn-primary">Manage Calendar feeds</button>
        <button class="btn-primary">Manage Events</button>
    </div>
</section>

<h1>Event List</h1>
<ul>
    {% for event in events %}
    <li>
        <a
            href="{{ url_for('event_bp.manage_event', event_id=event.id) }}">
            {{ event.name }}
        </a>
        - {{ event.start_date }} - {{ event.end_date }}
        -
        <a
            href="{{ url_for('calendar_feed_bp.manage_calendar_feed', calendar_feed_id=event.calendar_feed_id) }}">
            Manage Calendar Feed
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
