<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Event Countdown{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/calendar-icon.ico') }}">
    {% block head %}
    {% endblock %}

</head>
<body>
    {% include 'flash_messages.html' %}
    
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script>
        fetch('/reprocess_feeds');
    </script>
    
    <footer>
        <p>&copy; 2024 My Website</p>
    </footer>
</body>
</html>
