{% extends 'base.html' %}

{% block title %}Manage Feeds - Event Countdown{% endblock %}

{% block content %}
<section class="hero">
    <div class="container">
        <div class="hero-content">
            <h1 class="hero-heading text-xxl">Manage Feeds</h1>
            <p class="hero-text">
                Manage your calendar feeds easily. Add new calendars or feeds
                and view your existing ones to keep track of all your events.
            </p>
        </div>
    </div>
</section>

<div class="container">
    <h2 class="text-xl">Calendar Feeds</h2>

    <div>
        <p><strong>Add Calendar</strong></p>
        <form action="/add_calendar" method="post" class="event-form">
            <label for="calendar-name">Calendar Name</label>
            <input type="text" id="calendar-name" name="name" required>
            <label for="feed-url">Feed URL:</label>
            <input type="url" id="feed-url" name="url">
            <button class="btn btn-primary" type="submit">Create
                Calendar</button>
        </form>
    </div>

    <table class="event-table">
        <thead>
            <tr>
                <th>Feed Name</th>
                <th>Feed URL</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if owned_feeds or imported_feeds %}
            {% set all_feeds = owned_feeds + imported_feeds %}
            {% for feed in all_feeds %}
            <tr>
                <td>{{ feed.name }}</td>
                <td>
                    {% if feed.url %}
                    <a href="{{ feed.url }}" target="_blank">{{ feed.url }}</a>
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>
                    <form action="/delete_feed/{{ feed.id }}" method="POST"
                        style="display:inline;">
                        <button type="submit"
                            class="btn btn-danger">Remove</button>
                    </form>

                    {% if feed in owned_feeds %}
                    <!-- Form to view events for owned feeds -->
                    <form action="/apply_filter" method="POST"
                        style="display:inline;">
                        <input type="hidden" name="feed" value="{{ feed.id }}">
                        <button type="submit" class="btn btn-info">View
                            Events</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">No calendar feeds added yet.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<div class="container">
    <a href="/" class="btn btn-secondary">Go back to events</a>
</div>

{% endblock %}
