{% extends "base.html" %}

{% block head %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}

{% block title %}Home Page{% endblock %}

{% block content %}
<section class="hero">
    <div class="container">
        <h1 class="hero-heading text-xxl">Upcoming Events</h1>
        <p class="hero-text text-md">{{ upcoming_event_info_str }}</p>

        <div class="btns">
            <button class="btn">
                <a href="{{ url_for('calendar_feed_bp.index') }}">calendar
                    feeds</a>
            </button>
            <button class="btn">
                <a href="{{ url_for('event_bp.index') }}">events</a>
            </button>
        </div>
    </div>
</section>

<section class="event-list">
    <div class="container">
        <h2 class="text-xl">Events</h2>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="events">
                {% for date in sorted_dates %}
                <div class="date" id="date-{{ loop.index }}">
                    <p class="text-lg">{{ date.strftime('%d.%m.%Y') }}</p>
                    {% for event in events_sorted_by_date[date] %}
                    <div class="event">
                        <div class="event-preview">
                            <button
                                class="expand-arrow"
                                aria-expanded="false"
                                aria-label="Expand event">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                            <span class="text-md event-name">{{ event.name
                                }}</span>
                            <span class="text-md event-start">{{
                                event.start_time_str }}</span>
                            <span class="text-md event-countdown">{{
                                event.countdown_str }}</span>
                        </div>
                        <div class="event-details">
                            <p class="event-full-name">{{ event.name }}</p>
                            <p class="event-description">{{ event.description
                                }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="util">
                <button id="scrollToCurrentDate" class="btn">
                    <i class="fa-solid fa-calendar-day"></i>
                </button>
                <a class="btn" href="{{ url_for('event_bp.add_event') }}"><i
                        class="fa-solid fa-calendar-plus"></i></a>
            </div>
        </div>
    </div>
</section>

<script>
    const dates = document.querySelectorAll('.date');
    const expandButtons = document.querySelectorAll('.expand-arrow');

    var wrapper = document.querySelector('.wrapper'); // Get the wrapper element
    var scrollButton = document.getElementById('scrollToCurrentDate'); // Get the button element
    var currentDateIndex = null;
    var targetDateElement = null;

    function scrollToToday() {
        currentDateIndex = {{ current_date_index }};
        targetDateElement = document.getElementById('date-' + (currentDateIndex + 1));
        if (targetDateElement) {
            var offsetTop = targetDateElement.offsetTop;
            wrapper.scrollTo({ top: offsetTop - wrapper.offsetTop, behavior: 'smooth' });
        };
    };

    document.addEventListener('DOMContentLoaded', () => {
        currentDateIndex = {{ current_date_index }};
        targetDateElement = document.getElementById('date-' + (currentDateIndex + 1));

        scrollButton.addEventListener('click', scrollToToday);
        dates.forEach((date, index) => {
            console.log(currentDateIndex, index, index < currentDateIndex)
            if (currentDateIndex !== null && index < currentDateIndex) {
                date.classList.add('completed');
            } else {
                date.classList.remove('completed');
            }
        });

        expandButtons.forEach(button => {
            button.addEventListener('click', function () {
                const isExpanded = button.getAttribute('aria-expanded') === 'true';
                const event = button.closest('.event');
                const details = event.querySelector('.event-details');

                // Collapse all other expanded events
                document.querySelectorAll('.event-details.expanded').forEach(expandedDetails => {
                    if (expandedDetails !== details) {
                        expandedDetails.style.maxHeight = '0';
                        expandedDetails.style.padding = '0 10px';
                        expandedDetails.classList.remove('expanded');
                        expandedDetails.previousElementSibling
                            .querySelector('.expand-arrow')
                            .setAttribute('aria-expanded', 'false');
                    }
                });

                // Toggle the clicked event
                if (!isExpanded) {
                    details.classList.add('expanded');
                    details.style.maxHeight = details.scrollHeight * 1.4 + 'px';
                    details.style.padding = '10px';
                    button.setAttribute('aria-expanded', 'true');
                } else {
                    details.classList.remove('expanded');
                    details.style.maxHeight = '0';
                    details.style.padding = '0 10px';
                    button.setAttribute('aria-expanded', 'false');
                }
            });
        });

        scrollToToday();
    });
</script>
{% endblock %}
